* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  min-height: 540px;
  width: 80%;
  max-width: 1000px;
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[2];
      grid-template: 1fr/repeat(2, 1fr);
  position: relative;
}

.card__image {
  background-image: url("../images/illustration-woman-online-desktop.svg"), url("../images/bg-pattern-desktop.svg");
  background-position: -80px 70px, -500px -270px;
  background-repeat: no-repeat, no-repeat;
  background-size: 480px, 900px;
}

.card__mobile-box, .card__mobile-illustration {
  display: none;
}

.card__box {
  position: absolute;
  top: 42%;
  left: -92px;
}

.card__content {
  padding: 6em;
  padding-left: 1em;
  font-weight: bold;
}

.card__content h1 {
  font-size: 2.1rem;
  margin-bottom: 1em;
}

.card__accordion {
  margin-top: 1em;
  border-bottom: 1px solid #e7e7e9;
}

.card__accordion-icon {
  margin-left: 15px;
}

.card__accordion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 100;
  cursor: pointer;
}

.card__accordion-header--active {
  font-weight: 700;
}

.card__accordion-content {
  margin-top: 1em;
  font-size: 1rem;
  font-weight: 100;
  overflow: hidden;
  margin-right: 15px;
}

.card__accordion-content p {
  padding-bottom: 1em;
}

.card__accordion-content--hidden {
  height: 0;
}

@media only screen and (max-width: 1040px) {
  .card__image {
    background-position: left center, left center;
    background-size: 100%, 100%;
  }
  .card__box {
    display: none;
  }
  .card__image {
    background-image: url("../images/illustration-woman-online-mobile.svg"), url("../images/bg-pattern-desktop.svg");
  }
  .card__content {
    padding-right: 2em;
  }
}

@media only screen and (max-width: 560px) {
  html,
  body {
    font-size: 12px;
  }
  .card {
    margin-top: 10em;
    -ms-grid-rows: 100px 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 100px 1fr / 1fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .card__box {
    display: none;
  }
  .card__mobile-box, .card__mobile-illustration {
    display: block;
    position: absolute;
  }
  .card__mobile-box {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .card__mobile-illustration {
    top: -110px;
    left: 50%;
    -webkit-transform: translateX(-55%);
            transform: translateX(-55%);
  }
  .card__image {
    background-image: none;
  }
  .card__content {
    padding: 3em;
  }
  .card__content h1 {
    text-align: center;
  }
}
/*# sourceMappingURL=index.css.map */